<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<title>Bio Farm an Agriculture Category Bootstrap Responsive website Template | Home :: w3layouts</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Bio Farm Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- Custom Theme files -->
	<link href='{% static "web/css/bootstrap.css" %}' type="text/css" rel="stylesheet" media="all">
	<link href='{% static "web/css/style.css" %}' type="text/css" rel="stylesheet" media="all">
	<link href='{% static "web/css/font-awesome.css" %}' rel="stylesheet"> <!-- font-awesome icons -->
	<link rel="stylesheet" href='{% static "web/css/flexslider.css" %}' type="text/css" media="screen" />
	<!-- //Custom Theme files -->
	<!-- js -->
	<script src='{% static "web/js/jquery-2.2.3.min.js" %}'></script>
	<!-- //js -->
	<!-- web-fonts -->
	<link href="//fonts.googleapis.com/css?family=Pinyon+Script" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
	<!-- //web-fonts -->
</head>
<body>


	<!-- header-top start here -->
	<div class="top-header">
		<div class="container">
			<div class="top-header-main">
				<div class="col-sm-8 logo">
					<h1><a  href="{% url 'index' %}">AGRO-WIZ</a></h1>
				</div>
				<div class="col-sm-4 top-social">
					<div class="social-wthree-icons bnragile-icons">
						<ul>
							<li><a href="#" class="fa fa-facebook icon icon-border facebook"> </a></li>
							<li><a href="#" class="fa fa-twitter icon icon-border twitter"> </a></li>
							<li><a href="#" class="fa fa-google-plus icon icon-border googleplus"> </a></li>
							<li><a href="#" class="fa fa-dribbble icon icon-border dribbble"> </a></li>
						</ul>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- header-top end here -->
	<!-- header start here -->

	<div class="header w3l w3header">
		<div class="container">
			<nav class="navbar navbar-inverse">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav ">
						<li ><a href="index"><strong>Home</strong></a></li>
						<li ><a href="register#act"><strong>Sign Up</strong></a></li>
						<li ><a href="login#act"><strong>Login</strong></a></li>
						<li><a href="#about">About</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
					
					
					<div class="clearfix" >
					
					</div>
				</div>
			</nav>
		</div>
		<div class="clearfix"> </div>
	</div>
	<!-- header end here -->




	<!-- banner start -->
	<div class="banner jarallax">
		<!-- banner-w3ltext -->
		<div class="banner-w3ltext">


			<div class="flexslider">
				<ul class="slides">
					<li>

						<h2>Welcome To AGRO-WIZ</h2>
					</li>
					<li>

						<h3>Image Processing</h3>
					</li>
					<li>

						<h3>Disease Detection</h3>
					</li>
				</ul>
			</div>
		</div>
		<!-- //banner-w3ltext -->
	</div>
	<!-- //banner start -->
	<a name="act"/>
	{% block content %}{% endblock %}


	<!-- services -->
	<a name="contact"/>
	<div class="services agileits-w3layouts">
		<div class="container">
			<div class="services-agileinfo">
				<div class="col-md-4 col-sm-4 services-w3lsgrids">
					<div class="services-w3text">
						<div class="services-textinfo">
							<i class="fa fa-clone" aria-hidden="true"></i>
							<h5>Products</h5>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 services-w3lsgrids">
					<div class="services-w3text srvs-w3text2">
						<div class="services-textinfo">
							<i class="fa fa-heart-o" aria-hidden="true"></i>
							<h5>Schemes and Facilities</h5>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 services-w3lsgrids">
					<div class="services-w3text srvs-w3text3">
						<div class="services-textinfo">
							<i class="fa fa-envelope-o" aria-hidden="true"></i>
							<h5>Feedbacks</h5>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //services -->
	
	<!-- work start here -->
	<div class="work jarallax">
		<div class="container">
			<div class="work-agileinfo">
				<h3>Are You Impressed By Our Work?</h3>
				<p>Nor again is there anyone who loves or pursues or desires to obtain pain.</p>
				<div class="w3btns-agile">
					<a href="">Get In Touch</a>
				</div>
			</div>
		</div>
	</div>
	<!-- work end here -->
	<!-- features -->
	<a name="about"/>
	<div class="features">
		<div class="container">
			<div class="w3ls-title">
				<h3 class="agileits-title">Features</h3>
			</div>
			<div class="features-agilerow">
				<div class="col-sm-6 features-left">
					<div class="features-w3grid">
						<div class="col-xs-3 features-w3grid-left">
							<i class="fa fa-heart-o" aria-hidden="true"></i>
						</div>
						<div class="col-xs-9 features-w3grid-right">
							<h4>Image Processing</h4>
							<p>Farmers can take image of fruit disease and upload it to the system. Then the farmer will see the
							fruit is affected by bacterial blight or not.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="features-w3grid features-w3grid-mdl">
						<div class="col-xs-3 features-w3grid-left">
							<i class="fa fa-cogs" aria-hidden="true"></i>
						</div>
						<div class="col-xs-9 features-w3grid-right">
							<h4> Leaf Disease Detection</h4>
							<p>The recognition of a disease can often be based on symptoms like lesions or spots in various parts of a plant.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="features-w3grid">
						<div class="col-xs-3 features-w3grid-left">
							<i class="fa fa-line-chart" aria-hidden="true"></i>
						</div>
						<div class="col-xs-9 features-w3grid-right">
							<h4>Provide Pesticides</h4>
							<p>Dealer can provide pesticides for all types of leaf diseases.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="col-sm-6 features-left">
					<div class="features-w3grid">
						<div class="col-xs-3 features-w3grid-left">
							<i class="fa fa-heart-o" aria-hidden="true"></i>
						</div>
						<div class="col-xs-9 features-w3grid-right">
							<h4>Provide Schemes and Facilities</h4>
							<p>This is done by staff in agriculture department to provide various schemes and facilities available for farmers.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="features-w3grid features-w3grid-mdl">
						<div class="col-xs-3 features-w3grid-left">
							<i class="fa fa-cogs" aria-hidden="true"></i>
						</div>
						<div class="col-xs-9 features-w3grid-right">
							<h4>Product Purchase and Bidding</h4>
							<p>Farmer can view and purchase the products available in agriculture department and he can sell it.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="features-w3grid">
						<div class="col-xs-3 features-w3grid-left">
							<i class="fa fa-line-chart" aria-hidden="true"></i>
						</div>
						<div class="col-xs-9 features-w3grid-right">
							<h4>Provide Feedback</h4>
							<p>Farmer can send feedback about the services available in this application</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //features -->
	<!-- news -->
	<div class="news">
		<div class="container">
			<div class="w3ls-title">
				<h3 class="agileits-title">Latest News</h3>
			</div>
			<div class="agileits_w3layouts_news_grids">
				<div class="col-md-3 col-xs-6 agileits_w3layouts_news_grid">
					<div class="w3_agileits_news_grid">
						<img src="images/g3.jpg" alt=" " class="img-responsive" />
						<div class="w3_agileits_news_grid_pos">
							<h4>15 Jan 2017</h4>
						</div>
					</div>
					<h5><a href="single.html">Bibendum ex sit amet</a></h5>
					<p>Nunc sodales augue in felis facilisis consectetur.</p>
				</div>
				<div class="col-md-3 col-xs-6 agileits_w3layouts_news_grid">
					<div class="w3_agileits_news_grid">
						<img src="images/g1.jpg" alt=" " class="img-responsive" />
						<div class="w3_agileits_news_grid_pos">
							<h4>19 Jan 2017</h4>
						</div>
					</div>
					<h5><a href="single.html">Augue in felis facili</a></h5>
					<p>Nunc sodales augue in felis facilisis consectetur.</p>
				</div>
				<div class="col-md-3 col-xs-6 agileits_w3layouts_news_grid">
					<div class="w3_agileits_news_grid">
						<img src="images/g2.jpg" alt=" " class="img-responsive" />
						<div class="w3_agileits_news_grid_pos">
							<h4>23 Feb 2017</h4>
						</div>
					</div>
					<h5><a href="single.html">Facilisis consecte</a></h5>
					<p>Nunc sodales augue in felis facilisis consectetur.</p>
				</div>
				<div class="col-md-3 col-xs-6 agileits_w3layouts_news_grid">
					<div class="w3_agileits_news_grid">
						<img src="images/g3.jpg" alt=" " class="img-responsive" />
						<div class="w3_agileits_news_grid_pos">
							<h4>28 Feb 2017</h4>
						</div>
					</div>
					<h5><a href="single.html">Sodales augue felis</a></h5>
					<p>Nunc sodales augue in felis facilisis consectetur.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //news -->

	<!-- footer start here -->
	<div class="footer-agile jarallax">
		<div class="container">
			<div class="footer-top-agileinfo">
				<div class="social-wthree-icons bnragile-icons">
					<ul>
						<li><a href="#" class="fa fa-facebook icon icon-border facebook"> </a></li>
						<li><a href="#" class="fa fa-twitter icon icon-border twitter"> </a></li>
						<li><a href="#" class="fa fa-google-plus icon icon-border googleplus"> </a></li>
						<li><a href="#" class="fa fa-dribbble icon icon-border dribbble"> </a></li>
					</ul>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="footer-btm-agileinfo">
				<div class="col-md-4 col-xs-4 footer-grid">
					<h3>Useful Info</h3>
					<ul>
						<li><a href="index.jsp"><i class="glyphicon glyphicon-menu-right"></i>Hendrerit quam</a></li>
						<li><a href="index.jsp"><i class="glyphicon glyphicon-menu-right"></i>Amet consectetur </a></li>
						<li><a href="index.jsp"><i class="glyphicon glyphicon-menu-right"></i>Iquam hendrerit</a></li>
						<li><a href="index.jsp"><i class="glyphicon glyphicon-menu-right"></i>Donec ut lectus </a></li>
					</ul>
				</div>
				<div class="col-md-4 col-xs-3 footer-grid w3social">
					<h3>Navigation</h3>
					<ul>
						<li><a href="index.jsp">Home</a></li>
						<li><a href="index.jsp">About</a></li>
						<li><a href="index.jsp">Gallery</a></li>
						<li><a href="index.jsp">Contact</a></li>
					</ul>
				</div>
				<div class="col-md-4 col-xs-5 footer-grid footer-review">
					<h3>Newsletter</h3>
					<form action="#" method="post">
						<input type="email" name="Email" placeholder="Your Email" required="">
						<input type="submit" value="Subscribe">
						<div class="clearfix"> </div>
					</form>
					<div class="copy-w3lsright">

					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //footer end here -->
	<!-- FlexSlider -->
	<script defer src='{% static "web/js/jquery.flexslider.js" %}'></script>
	<script type="text/javascript">
		$(window).load(function(){
			$('.flexslider').flexslider({
				animation: "slide",
				start: function(slider){
					$('body').removeClass('loading');
				}
			});
		});
	</script>
	<!-- End-slider-script -->
	<!-- start-smooth-scrolling -->
	<script type="text/javascript" src='{% static "web/js/move-top.js" %}'></script>
	<script type="text/javascript" src='{% static "web/js/easing.js" %}'></script>
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){
				event.preventDefault();

				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
	</script>
	<!-- //end-smooth-scrolling -->
	<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

		});
	</script>
	<!-- //smooth-scrolling-of-move-up -->
	<!-- jarallax effect -->
	<script src='{% static "web/js/SmoothScroll.min.js" %}'></script>
	<script src='{% static "web/js/jarallax.js" %}'></script>
	<script type="text/javascript">
		/* init Jarallax */
		$('.jarallax').jarallax({
			speed: 0.5,
			imgWidth: 1366,
			imgHeight: 768
		})
	</script>
	<!-- //jarallax effect -->
	<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src='{% static "web/js/bootstrap.js" %}'></script>
	</body>
	</html>